*
{
  color: #570b9c;
  text-shadow: 1px 1px #d4adf9;
  font-family: 'Arimo', sans-serif;
}

h1
{
  font-family: 'UnifrakturCook', cursive;
}

h2,h3,h4,h5
{
  font-family: 'Kalam', cursive;
}

h1
{
  font-size: 56px;
}

h3
{
  margin-top: 20px;
  margin-bottom: 20px;
}

p
{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100%;
  font-size: 24px;
}

progress
{
  width: 100%;
}

.background
{
  background-image: url("../images/ruins-in-turkey.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.card_background
{
  background-color: rgba(44,44,44,0.33);
}

.button_background
{
  background-color: rgba(255,255,255,0.5);
}

button:hover,
.answer:hover
{
  cursor: pointer;
}
