*
{
  color: #331111;
  text-shadow: 1px 1px #ddd;
  font-family: 'Archivo Black', sans-serif;
}

h1,h2,h3,h4,h5
{
  /*font-family: 'Pirata One', cursive;*/
  font-family: 'UnifrakturCook', cursive;
}

h1
{
  font-size: 56px;
}

h3
{
  margin-top: 20px;
}

p
{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100%;
}

progress
{
  width: 100%;
}

.instructions
{
  background-color: rgba(44,44,44,0.15);
}

.background
{
  background-image: url("../images/castle-2596885_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.card_background
{
  background-color: rgba(255,255,255,0.33);
}
